mat-card:first-child{
    background-color: black;
    width: 50%;
    height: 65%;
    border-radius: 2%;
    border: 1px solid white;
}


.header{
    background-color: #181818; 
    /* 272829 */
    height: 13%;
}



.logoImg{
    position: relative;
    width: 4.5%;
    padding: 1%;
    border-radius: 25%;
}

.branding{
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 1%;
    padding-top: 2%;
    font-style:italic
}


.loginheader{
    font-family: Mooli;
    font-weight: 1000;
    font-size: x-large;
    color: whitesmoke;
    padding: 1%;
    padding-bottom: 5%;
}

.contactus_Button{
    margin-left: 50%;
    margin-top: 1.5%;
    width: 20%;
}

button{
    width: 60%;
    color: white !important;
    border: 1px solid white !important;
    font-family: Mooli;
    font-size:small;
}


.gradient-border {
    --borderWidth: 2px;
    position: relative;
    border-radius: var(--borderWidth);
  }
  .gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  


.googleico{position: absolute;
    padding-left: 5%;
    width: 15%;
}
.microsoftico{
    position: absolute;
    padding-top: 2%;
    width: 20%;
}
.githubico{
    width: 0;
}


.creativeline{
    text-align: center;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.profiles{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: white;
}