<div class="header" LayoutAlign="center center">
  <div fxLayout="row">
      <img src="assets/login/logo.png" alt="img" class="logoImg">
      <h1 class="branding">BUNGUS</h1>
  </div>
</div>

<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card  fxflex="50">
        <mat-card-content> <p fxLayoutAlign="center center" class="loginheader">Log in to Bungus</mat-card-content>

        <div fxLayoutAlign="center center" fxLayout="column" fxLayoutgap="50%">
            <button  mat-stroked-button color="accent" (click)="signInWithGoogle()">Login with Google</button>
            <button  mat-stroked-button color="accent" (click)="signInWithGit()">Login with Github</button>
            <button  mat-stroked-button color="accent">Login with Microsoft</button>
        </div>
    </mat-card>
</div>